@charset "UTF-8";
/* обнуление стилей */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

/* изменяет подсчет ширины блока для удобства верстки */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров */
:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

/* делаем элементы блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* уравнивание поведения шрифтов и элементов для разных браузеров */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* наследование элементами семейства шрифта */
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* обнуление стилей */
@font-face {
  font-family: 'Lato-Italic';
  src: url("../fonts/Lato-Italic.eot");
  src: local("☺"), url("../fonts/Lato-Italic.woff") format("woff"), url("../fonts/Lato-Italic.ttf") format("truetype"), url("../fonts/Lato-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  background: #faf9f9;
  max-width: 320px;
}

.content .content-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#e6e4ea), color-stop(50%, #f4f5fb), color-stop(98%, #e1dee4));
  background: -webkit-linear-gradient(left, #e6e4ea, #f4f5fb 50%, #e1dee4 98%);
  background: -o-linear-gradient(left, #e6e4ea, #f4f5fb 50%, #e1dee4 98%);
  background: linear-gradient(90deg, #e6e4ea, #f4f5fb 50%, #e1dee4 98%);
}

.content .content-about img {
  width: 100%;
}

.content .content-about .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 15px 30px 15px;
  font-family: Lato-Regular;
}

.content .content-about .about-title a {
  border: 1px solid #ece9e9;
  border-radius: 4px;
  padding: 1px 3px 2px 3px;
  background-color: #d1cdcd;
}

.content .content-about .about-title a:hover {
  background-color: #b6b3b3;
}

.content .content-about .about-title .shop-contact-title {
  width: 105px;
}

.content .content-about .about-title .about-title-images img {
  width: 35px;
  margin: 10px 20px 10px 20px;
}

.content .content-about .about-title .about-work-title {
  width: 110px;
}

.content .content-generation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
}

.content .content-generation .content-generation-icon img {
  width: 35px;
  margin: 10px 20px 20px 20px;
}

.content .content-generation .content-generation-text {
  text-align: center;
}

.content .content-generation .content-generation-text .generation-text-title {
  font-family: Lato-Regular;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin-bottom: 15px;
}

.content .content-generation .content-generation-text .generation-text {
  font-family: Lato-Regular;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #848789;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-images-one .galery-images-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.content .content-galery .content-galery-images-one .galery-images-one .galery-icon-one {
  width: 35px;
  position: absolute;
}

.content .content-galery .content-galery-images-one .galery-images-one .galery-icon-one .galery-images-icon-one {
  width: 35px;
}

.content .content-galery .content-galery-images-one .galery-images-images-one {
  width: 100%;
}

.content .content-galery .content-galery-images-two {
  margin-bottom: 10px;
}

.content .content-galery .content-galery-images-two .galery-images-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content-galery .content-galery-images-two .galery-images-two .galery-icone-two {
  width: 35px;
  position: absolute;
}

.content .content-galery .content-galery-images-two .galery-images-two .galery-icone-two .galery-images-icon-two {
  width: 45px;
}

.content .content-galery .content-galery-images-two .galery-images-images-two {
  width: 100%;
}

.content .content-galery .content-galery-text_1 {
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_1 .galery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/background/bg_230.png);
  padding: 15px;
  margin-bottom: 10px;
}

.content .content-galery .content-galery-text_1 .galery-text .galery-text-icon {
  width: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content .content-galery .content-galery-text_1 .galery-text .galery-text-title {
  font-family: Lato-Regular;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_1 .galery-text .galery-text_text {
  font-family: Lato-Regular;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #848789;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_1 .galery-text-images {
  width: 100%;
}

.content .content-galery .content-galery-text_2 {
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_2 .galery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/background/bg_230.png);
  padding: 15px;
  margin-bottom: 10px;
}

.content .content-galery .content-galery-text_2 .galery-text .galery-text-icon {
  width: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content .content-galery .content-galery-text_2 .galery-text .galery-text-title {
  font-family: Lato-Regular;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_2 .galery-text .galery-text_text {
  font-family: Lato-Regular;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #848789;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_2 .galery-text-images {
  width: 100%;
}

.content .content-galery .content-galery-text_3 {
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_3 .galery-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(../img/background/bg_230.png);
  padding: 15px;
  margin-bottom: 10px;
}

.content .content-galery .content-galery-text_3 .galery-text .galery-text-icon {
  width: 35px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.content .content-galery .content-galery-text_3 .galery-text .galery-text-title {
  font-family: Lato-Regular;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #353738;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_3 .galery-text .galery-text_text {
  font-family: Lato-Regular;
  text-align: start;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #848789;
  margin-bottom: 15px;
}

.content .content-galery .content-galery-text_3 .galery-text-images {
  width: 100%;
}

.content .content-galery .content-galery-images-four img {
  width: 100%;
}

.content .content-galery .content-galery-images-three {
  margin-bottom: 10px;
}

.content .content-galery .content-galery-images-three .galery-images-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content-galery .content-galery-images-three .galery-images-three .galery-icon-three {
  width: 35px;
  position: absolute;
}

.content .content-galery .content-galery-images-three .galery-images-three .galery-icon-three .galery-images-icon-three {
  width: 50px;
}

.content .content-galery .content-galery-images-three .galery-images-images-three {
  width: 100%;
}

.content .content-ads-new-york {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-ads-new-york .ads-new-york-icon img {
  margin-bottom: 15px;
}

.content .content-ads-new-york .ads-new-york-title {
  font-family: Lato-Regular;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #353738;
  margin-bottom: 10px;
}

.content .content-ads-new-york .ads-new-york-text {
  font-family: Lato-Italic;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin-bottom: 15px;
}

.content .content-ads-new-york .ads-new-york-bottom img {
  padding: 0 5px 0 5px;
}

.content .content-discovery .content-three-one {
  margin-top: 20px;
}

.content .content-discovery .content-three-one .content-one-three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content-discovery .content-three-one .content-one-three p {
  font-family: Lato-Regular;
  font-size: 12px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  margin-top: 10px;
}

.content .content-discovery .content-three-one .content-one-three .content-three-one-img {
  width: 30px;
  position: absolute;
}

.content .content-discovery .content-three-one .content-one-three .img-one-three {
  width: 100%;
  margin-bottom: 10px;
}

.content .content-discovery img {
  width: 100%;
  margin-bottom: 10px;
}

.content .content-discovery-shop {
  height: 80px;
  background-color: #353738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .content-discovery-shop .discovery-shop-bottom {
  background-color: #353738;
  padding: 5px 15px;
  border-radius: 2px;
  font-family: Lato-Regular;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.2em;
  border: 1px solid #848789;
}

.content .content-discovery-shop .discovery-shop-bottom a {
  color: #e4e2e2;
}

.content-footor .container-footor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.content-footor .container-footor .content-footor-adress {
  background-color: #f7f7f7;
}

.content-footor .container-footor .footor-adress-title {
  text-align: center;
  font-family: Lato-Regular;
  font-size: 14px;
  line-height: 17px;
  font-weight: 700;
  color: #848789;
  margin-top: 10px;
  margin-bottom: 5px;
}

.content-footor .container-footor p {
  font-family: Lato-italic;
  font-size: 13.9px;
  font-weight: 400;
  font-style: italic;
}

.content-footor .container-footor .footor-adress-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 165px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.content-footor .container-footor .footor-adress-cebo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content-footor .container-footor .adress-cebo-text {
  font-family: Lato-italic;
  font-size: 13.9px;
  line-height: 17px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
}

.content-footor .container-footor .adress-cebo-icon img {
  width: 35px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.content-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px 15px 20px 15px;
}

.content-contact-icon img {
  width: 35px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.content-contact-title {
  font-family: Lato-italic;
  font-size: 14px;
  line-height: 34px;
  font-weight: 400;
  font-style: italic;
  color: #848789;
  margin-bottom: 10px;
}

.content-contact-bottom button {
  background-color: #65c4a4;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #ffffff;
  border-radius: 1px;
  padding: 5px 15px 5px 15px;
}

.content-contact-bottom input {
  border: 1px solid #ced0d1;
  padding: 4px 10px 4px 10px;
  font-family: Lato;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  font-style: italic;
  color: #929292;
}

@media only screen and (min-width: 480px) {
  .content {
    background: #f7f7f7;
    max-width: 440px;
  }
}

@media only screen and (min-width: 640px) {
  .content {
    background: #f7f7f7;
    max-width: 640px;
  }
}

@media only screen and (min-width: 920px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: #f7f7f7;
    max-width: 1200px;
  }
  .content-galery {
    background-image: url(../img/rectangle-2/rectangle_3_copy_137.png);
  }
  .content-galery-images-one {
    width: 62%;
  }
  .galery-row-1 {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-galery-text_1 {
    width: 38%;
  }
  .galery-images-images-one {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .galery-images-images-one:hover {
    -webkit-transform: translate(150px, -20px) scale(1.2, 1.2);
        -ms-transform: translate(150px, -20px) scale(1.2, 1.2);
            transform: translate(150px, -20px) scale(1.2, 1.2);
    cursor: pointer;
  }
  .galery-images-images-two {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .galery-images-images-two:hover {
    -webkit-transform: translate(-120px, -40px) scale(-1.2, 1.2);
        -ms-transform: translate(-120px, -40px) scale(-1.2, 1.2);
            transform: translate(-120px, -40px) scale(-1.2, 1.2);
    cursor: pointer;
  }
  .galery-images-images-three {
    display: inline-block;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .galery-images-images-three:hover {
    -webkit-transform: translate(-220px, -40px) scale(-1.3, 1.3);
        -ms-transform: translate(-220px, -40px) scale(-1.3, 1.3);
            transform: translate(-220px, -40px) scale(-1.3, 1.3);
    cursor: pointer;
  }
  .content-galery-images-four {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .content-galery-images-four:hover {
    -webkit-transform: translate(240px, -40px) scale(1.3, 1.3);
        -ms-transform: translate(240px, -40px) scale(1.3, 1.3);
            transform: translate(240px, -40px) scale(1.3, 1.3);
    cursor: pointer;
  }
  .one_galery_images {
    display: inline-block;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .one_galery_images:hover {
    -webkit-transform: translate(-250px, -80px) scale(-2, 2);
        -ms-transform: translate(-250px, -80px) scale(-2, 2);
            transform: translate(-250px, -80px) scale(-2, 2);
    cursor: pointer;
  }
  .two_galery_images {
    display: inline-block;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .two_galery_images:hover {
    -webkit-transform: translate(250px, -80px) scale(2, 2);
        -ms-transform: translate(250px, -80px) scale(2, 2);
            transform: translate(250px, -80px) scale(2, 2);
    cursor: pointer;
  }
  .three_galery_images {
    display: inline-block;
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .three_galery_images:hover {
    -webkit-transform: translate(-150px, -50px) scale(1.8, 1.8);
        -ms-transform: translate(-150px, -50px) scale(1.8, 1.8);
            transform: translate(-150px, -50px) scale(1.8, 1.8);
    cursor: pointer;
  }
  .galery-row-2 {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .content-galery-images-two {
    width: 62%;
  }
  .content-galery-text_2 {
    width: 38%;
  }
  .galery-row-3 {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .content-galery-images-four {
    width: 31.5%;
  }
  .content-galery-text_3 {
    width: 37%;
  }
  .content-galery-images-three {
    width: 31.5%;
  }
  .content-discovery-row {
    max-width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url(../img/rectangle-2/rectangle_3_copy_137.png);
  }
  .discovery-content-one .content-one-one-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .discovery-row-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 33%;
  }
  .content-three-one {
    margin-top: 0;
  }
  .content-three-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .discovery-content-one {
    width: 33%;
  }
  .discovery-content-two {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 34%;
    margin-top: 20px;
  }
  .img-one-three {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .img-one-three:hover {
    -webkit-transform: translate(150px, 50px) scale(1, 1);
        -ms-transform: translate(150px, 50px) scale(1, 1);
            transform: translate(150px, 50px) scale(1, 1);
    cursor: pointer;
  }
  .three-two-one {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .three-two-one:hover {
    -webkit-transform: translate(300px, -80px) scale(2.5, 2.5);
        -ms-transform: translate(300px, -80px) scale(2.5, 2.5);
            transform: translate(300px, -80px) scale(2.5, 2.5);
    cursor: pointer;
  }
  .three-two-two {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .three-two-two:hover {
    -webkit-transform: translate(250px, -80px) scale(2.5, 2.5);
        -ms-transform: translate(250px, -80px) scale(2.5, 2.5);
            transform: translate(250px, -80px) scale(2.5, 2.5);
    cursor: pointer;
  }
  .content-one-one {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .content-one-one:hover {
    -webkit-transform: translate(30px, 80px) scale(2.5, 2.5);
        -ms-transform: translate(30px, 80px) scale(2.5, 2.5);
            transform: translate(30px, 80px) scale(2.5, 2.5);
    cursor: pointer;
  }
  .content-one-two {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .content-one-two:hover {
    -webkit-transform: translate(30px, 80px) scale(2.5, 2.5);
        -ms-transform: translate(30px, 80px) scale(2.5, 2.5);
            transform: translate(30px, 80px) scale(2.5, 2.5);
    cursor: pointer;
  }
  .content-one-three {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .content-one-three:hover {
    -webkit-transform: translate(0px, -80px) scale(2, 2);
        -ms-transform: translate(0px, -80px) scale(2, 2);
            transform: translate(0px, -80px) scale(2, 2);
    cursor: pointer;
  }
  .content-two-one {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .content-two-one:hover {
    -webkit-transform: translate(-180px, -80px) scale(1.5, 1.5);
        -ms-transform: translate(-180px, -80px) scale(1.5, 1.5);
            transform: translate(-180px, -80px) scale(1.5, 1.5);
    cursor: pointer;
  }
  .content-two-two {
    -webkit-transition-duration: 1s;
         -o-transition-duration: 1s;
            transition-duration: 1s;
  }
  .content-two-two:hover {
    -webkit-transform: translate(-290px, -80px) scale(1.5, 1.5);
        -ms-transform: translate(-290px, -80px) scale(1.5, 1.5);
            transform: translate(-290px, -80px) scale(1.5, 1.5);
    cursor: pointer;
  }
  .content-footor .container-footor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .content-footor .container-footor .footor-adress-bottom {
    padding: 0 50px 0 50px;
  }
  .content-footor .container-footor img {
    margin-right: 35px;
  }
  .content-footor .container-footor .content-footor-adress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
